<% provide(:title, 'Contact') %>
<!DOCTYPE HTMl>
<html>
	<body>		
		Hello. My name is Patrick Hunter.  You killed my father.  Prepare to die.
		<br>
		If you received this message in error, or have some other reason to contact me my email is <a href="pk_hunter@sbcglobal.net">pk_hunter@sbcglobal.net</a>.
	</body>
</html>
