<% provide(:title, 'Help')%>
<!DOCTYPE >
<html>
	<body>
		<h1>Help</h1>
		<p>	
  		When I was younger, so much younger than today 
  		I never needed anybody's help in any way.
  		<br />
  		Now I use
  		<a href="http://railstutorial.org/help">Rails Tutorial help page</a> or
		<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
		</p>
	</body>
</html>
