<%= form_for(@group.memberships.destroy(member_id: current_user.id), remote: true) do |f| %>
  <div><%= f.hidden_field :group_id %></div>
  <%= f.submit "leave", class: "btn btn-large btn-primary" %>
<% end %>