<% provide(:title, @group.name)%>
<% if @group.members.any?%>
<h3>Members <%=@group.members.count %></h3>
<ol>
	<%= render @members%>	
</ol>
<%end%>
<% if signed_in? %>
<% if @group.members.include?(current_user)%>
<%= render 'leave'%>
<%else%>
<%= render 'join'%>
<%end%>
<%end%>
